<div class="container-prod">
    {{> nav user=user admin=admin btnInicio=btnInicio}}

    <div class="div-prod">
        <h4 class="title-summary">Resumen del {{category}}: {{#if summary.month}} {{mes}} {{else}}
            {{summary.init_date}} {{/if}}</h4>
        <table class="table-summary">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Producto</th>
                    <th>Precio x Unidad</th>
                    <th>Unidades Vendidas</th>
                    <th>Importe Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each summary.products}}
                <tr>
                    <td>{{this.product.code}}</td>
                    <td>{{this.product.title}}</td>
                    <td>${{this.product.costPrice}}</td>
                    <td>{{this.quantity}}</td>
                    <td>${{this.total}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div>
            <div class="div-info-sale">
                <div class="div-total-sale">
                    <span>Total vendido:</span>
                    <span class="span-amount-total">$ {{summary.amount}}</span>
                </div>
                <div class="div-total-sale">
                    <span>Ventas totales:</span>
                    <span>{{summary.sales}}</span>
                </div>
            </div>
            {{#if summary.open}}
            <div class="div-cashregister">
                <span>Apertura de caja: {{summary.open}}</span>
                {{#if summary.close}}
                <span>Cierre de caja: {{summary.close}}</span>
                {{else}}
                <span>La caja se encuentra abierta todavía</span>
                {{/if}}
            </div>
            {{/if}}
            {{#if summary.month}}
            <div class="div-expenses">
                <span>Gasto de expensas</span>
                <table class="table-expenses">
                    <thead>
                        <tr>
                            <th>Expensa</th>
                            <th>Gasto total</th>
                        </tr>
                    </thead>
                    <tbody id="tbodySummary">
                        {{#if summary.utilityExpenses}}
                        {{#each summary.utilityExpenses}}
                        <tr>
                            <td>{{this.expense}}</td>
                            <td>$ {{this.amount}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
            <div class="btn-add-expense">
                <button onclick="addExpense(event, '{{summary._id}}')" class="btn-generate-expense">Agregar expensa</button>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<script src="/js/crudsummary.js"></script>