<div class="container-prod">
    {{> nav user=user admin=admin btnInicio=btnInicio}}

    <div class="div-prod">
        <h4 class="title-summary">Resumen del {{category}}: {{#if summary.month}} {{mes}} {{else}}
            {{summary.init_date.init}} {{/if}}</h4>
        <table class="table-summary">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Producto</th>
                    <th>Precio x Unidad Costo</th>
                    <th>Precio x Unidad Venta</th>
                    <th>Unidades Vendidas</th>
                    <th>Importe Total</th>
                    <th>Ganancia</th>
                </tr>
            </thead>
            <tbody>
                {{#each summary.products}}
                <tr>
                    <td>{{this.product.code}}</td>
                    <td>{{this.product.title}}</td>
                    <td>${{this.product.costPrice}}</td>
                    <td>${{this.product.sellingPrice}}</td>
                    <td>{{this.quantity}}</td>
                    <td>${{this.total}}</td>
                    <td>${{this.profit}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div>
            <div class="div-info-sale">
                <div class="div-total-sale">
                    <span>Total vendido:</span>
                    <span class="span-amount-total">$ {{summary.amount}}</span>
                </div>
                <div class="div-total-sale">
                    <span>Ventas totales:</span>
                    <span>{{summary.sales}}</span>
                </div>
                <div class="div-total-sale">
                    <span>Ganancia bruta:</span>
                    <span>$ {{summary.totalProfits}}</span>
                </div>
                {{#if summary.totalProfitWithCost}}
                <div class="div-total-sale">
                    <span>Ganancia neta:</span>
                    <span>$ {{summary.totalProfitWithCost}}</span>
                </div>
                {{/if}}
            </div>
            {{#if summary.amount_per_method}}
            <div class="div-methods">
                <h4>Medios de pago</h4>
                {{#each summary.amount_per_method}}
                <div class="method">
                    <span>Método de pago: {{this.method}}</span>
                    <span>Monto: ${{this.amount}}</span>
                </div>
                {{/each}}
            </div>
            {{/if}}
            {{#if summary.open}}
            <div class="div-cashregister">
                <span>Apertura de caja: {{summary.open}}</span>
                <span>Abierta por: {{summary.init_date.seller.name}}</span>
                {{#if summary.initAmount}}
                <span>Dinero en caja al abrir: ${{summary.initAmount}}</span>
                {{/if}}
                {{#if summary.close}}
                <span>Cierre de caja: {{summary.close}}</span>
                <span>Cerrada por: {{summary.finish_date.seller.name}}</span>
                {{else}}
                <span>La caja se encuentra abierta todavía</span>
                {{/if}}
            </div>
            {{/if}}

            <div class="div-expenses">
                <span>Gastos adicionales</span>
                {{#if summary.utilityExpenses}}
                <table class="table-expenses">
                    <thead>
                        <tr>
                            <th>Gasto</th>
                            <th>Gasto total</th>
                        </tr>
                    </thead>
                    <tbody id="tbodySummary">
                        {{#each summary.utilityExpenses}}
                        <tr>
                            <td data-index="{{this.index}}" id="expense{{summary._id}}">{{this.expense}}</td>
                            <td>$ {{this.amount}}</td>
                            {{!-- <td><button onclick="deleteGasto(event, "{{summary._id}}")">Borrar</button></td> --}}
                        </tr>

                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <span>Todavía no se agregaron gastos</span>
                {{/if}}
            </div>
            {{#if admin}}
            <div class="btn-add-expense">
                <button onclick="addExpense(event, '{{summary._id}}')" class="btn-generate-expense">Agregar
                    gasto</button>
            </div>
            {{/if}}

        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/crudsummary.js"></script>